/ _alert_messages.html.haml
.row-fluid.sortable.ui-sortable
  .alerts
    - flash.each do  |name, msg|
      .div{:class => "alert alert-#{name}" }
        %button.close{"data-dismiss" => "alert", :type => "button"} ×
        = msg